<div class="container text-center mt-4">
  <h1 class="mb-4 mt-4">{{ title }}</h1>
  <input
    #box
    (keyup.enter)="onEnter(box.value, $event)"
    type="number"
    class="mb-4"
  />
  <h4 *ngIf="eulerTotientMax" class="mt-4">result: {{ eulerTotientMax }}</h4>
</div>
